@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Event Form</h1>
    <h2>@ViewBag.Greeting</h2>
    <p>We're going to have an exciting event.</p>
    <a asp-action="FilledForm">Fill Form</a>
</div>
