@model Dictionary<string,object>

<div class="text-center">
    <table>
        @foreach (var m in Model)
        {
            <tr>
                <th>@m.Key</th>
                <td>@m.Value</td>
            </tr>
        }
    </table>
</div>
