@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Calculator";
}

<main>
    @using (Html.BeginForm("Calculate", "Calculator", FormMethod.Post))
    {
        <div id="fs">

            <div id="f1">
                <input type="text" name="num1" placeholder="Numerator 1" />
                <input type="text" name="den1" placeholder="Denominator 1" />
            </div>
            <select name="op">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <div id="f2">
                <input type="text" name="num2" placeholder="Numerator 2" />
                <input type="text" name="den2" placeholder="Denominator 2" />
            </div>

        </div>

        <button type="submit">Calculate</button>

        <label>@ViewBag.Answer</label>
    }
</main>